*.pyc
*.pyo
*.tmp*
*.mo
*.egg
*.EGG
*.egg-info
*.EGG-INFO
.*.cfg
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.settings/
bin/
buildout-cache/
build/
develop-eggs/
downloads/
eggs/
fake-eggs/
parts/
dist/
var/
src/*
!src/uwosh
htmlcov/
.coverage
*.log
output.xml
*.swp
log.html
report.html
